/* === Action Buttons Layout Styles - 操作按钮布局样式 === */
/* 作用：组织和导入操作按钮布局相关的子模块样式。 */
/* 依赖： action-buttons 子模块 */
/* Toggle Actions Layout Base Styles - 切换操作布局基础样式 */
/*  Base layout styles for the action buttons - 操作按钮组的基础布局样式 */
.action-buttons {
  position: relative;
  /* 使用 fixed 定位，使其脱离文档流 */
  /* bottom: calc(var(--spacing-stack-xl) + var(--size-button-sm)); 距离底部一定距离，考虑 actions-toggle-button 高度 */
  /*right: var(--spacing-stack-xl);  距离右侧一定距离，使用 xl 尺寸 CSS 变量 */
  display: flex;
  /* 使用 flex 布局 */
  flex-direction: column-reverse;
  /* 垂直反向排列，按钮从下往上排列 */
  gap: var(--spacing-inline-md);
  /* 设置按钮之间的间距 */
  z-index: 10;
  /* 设置 z-index，确保在其他元素之上 */
  pointer-events: none;
  /* 初始状态禁止 pointer 事件 */
}


/* Toggle Actions States Styles - 切换操作状态样式 */
/*
  定义切换操作 (toggle-actions) 组件在不同状态下的样式，
  例如 show 状态 (显示时) 的样式。
*/
/* Action Buttons Initial State (Hidden) - 操作按钮组初始状态 (隐藏) */
.action-buttons {
  opacity: 0;
  /* 初始状态透明度为 0，隐藏 */
}

/* Action Buttons Show State - 操作按钮组显示状态 */
.action-buttons.show {
  opacity: 1;
  /* 显示状态透明度为 1，显示 */
  pointer-events: auto;
  /* 显示状态允许 pointer 事件 */
}

/* Toggle Actions Button Rotation - 切换操作按钮旋转状态 */
.action-buttons.show+#actions-toggle-button {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  /* 添加过渡动画 */
}


/* Toggle Actions Animations Styles - 切换操作动画样式 */
/*
  定义切换操作 (toggle-actions) 组件的动画效果，
  例如显示和隐藏时的过渡效果。
*/

/* Action Buttons Animations - 操作按钮组动画 */
.action-buttons {
  transform: scale(0.8) translateY(100px);
  /* 初始状态缩小和向下位移，用于动画效果 */
  transform-origin: bottom center;
  /* 设置 transform-origin，缩放和位移基点为底部中心 */
  transition: opacity 0.3s, transform 0.3s;
  /* 添加过渡效果 */
}

.action-buttons.show {
  transform: scale(1) translateY(0);
  /* 显示状态取消缩放和位移 */
}